.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}


.product-details-container{
  width: 100%;
}

.text{
  font-weight: bold;
}

.product-info{
  margin-top: 20%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30%;
  height: 35vh; /* Set the height to fill the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
  border: 1px solid white;
}

.review-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.review-form {
  margin-bottom: 20px;
}

.review-list {
  flex-grow: 1;
}

.rating-container{
  display: inline-flex;
}

.rec-details-container{
  display:inline-flex;
}

.review {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-rating {
  display: flex;
  align-items: center;
}

.user-rating p {
  margin-right: 10px;
}


.home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 23%; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust spacing between rows */
  border: 1px solid;
  padding:3px;
}
